@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

:root {
  --clr-primary: rgb(64, 64, 235);
  --clr-accent: rgb(23, 23, 184);
  --ff-primary: 'Rubik', sans-serif;
  --ff-secondary: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-family: var(--ff-secondary);
  padding: 0.8em;
}

.header {
  margin-bottom: 4em;
  background-color: rgb(235, 229, 229);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

main {
  display: flex;
  gap: 3em;
  justify-content: center;
  min-width: 750px;
}

td {
  border: 1px solid rgb(0, 0, 0, 0.5);
  height: 35px;
  width: 35px;
  text-align: center;
  transform: rotate(270deg);
  font-size: 1.5em;
  color: black;
}

td:hover {
  background-color: rgb(190, 188, 188);
}

.player-square,
.opponent-square {
  transform: rotate(270deg);
  border: 1px thin rgb(29, 28, 28);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.buttons {
  margin-top: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: clamp(10%, 20%, 200px);
  margin-inline: auto;
}

.board-name {
  padding-top: 0.5em;
}

.randomise-ships,
.start-game {
  border: 0;
  background-color: var(--clr-primary);
  color: white;
  padding: 1em;
  border-radius: 4px;
  font-weight: bold;
  font-family: var(--ff-secondary);
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.randomise-ships:hover,
.start-game:hover {
  background-color: var(--clr-accent);
}

.popup {
  border: 1px solid black;
  border-radius: 6px;
  width: 40%;
  text-align: center;
  padding: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-primary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  display: none;
}

.popup-text {
  font-weight: bold;
}

.play-again {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 0.5em 1.8em;
  border-radius: 4px;
  margin-top: 0.8em;
  font-weight: bold;
}

.play-again:hover {
  background-color: var(--clr-accent);
}
