h1 {
  color: blue;
  text-align: center;
}

main {
  display: flex;
  gap: 3em;
  justify-content: center;
}

td {
  border: 1px solid rgb(0, 0, 0, 0.5);
  height: 35px;
  width: 35px;
}

td:hover {
  background-color: rgb(190, 188, 188);
}

.player-square,
.opponent-square {
  transform: rotate(270deg);
}
